@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

body {
  margin: 0;
  background-color: #1a1a1a;
}

* {
  font-family: 'Inter', sans-serif;
  border-width: 1px;
}
